html, body, ul, li {
  margin: 0;
  padding: 0;
}

/* header */
header {
  background-color: #1d1d1fe0;
  height: 45px;
  width: 100%;
  position: fixed;
}
header ul {
  list-style: none;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  line-height: 40px;
}
header li {
  margin: 0 22px;
}
header a {
  text-decoration: none;
  color: #f5f5f7d8;
  font-weight: 200;
  font-size: 11px;
}
header a:hover {
  color: #f5f5f7;
}
header i {
  font-size: 17px;
  line-height: 42px !important;
}
header i.search-icon {
  font-size: 13px !important;
  
}

/* nav */
nav {
  padding-top: 45px;
  height: 45px;
  background-color: #1d1d1f09;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}
nav p {
  font-size: 12px;
  margin: auto 0;
  font-weight: 600;
  color: #1d1d1fb7;
}
nav p.colorFont {
  color: #0066ccbe;
  font-weight: bold;
}
nav p.colorFont:hover {
  text-decoration: underline;
}

/* content */
main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    "c1 c1"
    "c2 c2"
    "c3 c3"
    "c4 c5"
    "c6 c7"
    "c8 c9";
  grid-gap: 10px 10px;
  margin-top: 10px;
}
main div.c1 {
  grid-area: c1;
  background-color: #0066cc07;
  width: 100%;
  height: 640px;
}
.c1_wrapper {
  display: grid;
  grid-template-columns: 200px 200px;
  grid-template-rows: 60px 40px;
  grid-template-areas: 
    "c1_title c1_title"
    "c1_content c1_content"
    "c1_info1 c1_info2";
  height: 300px;
  width: 400px;
  margin: 0 auto;
  line-height: 150px;
}
.c1_wrapper .c1_title {
  grid-area: c1_title;
  font-size: 45px;
  margin: 0 auto;
}
.c1_wrapper .c1_content {
  grid-area: c1_content;
  font-size: 20px;
  font-weight: bold;
  margin: 0 auto;
}
.c1_wrapper .c1_info1 {
  grid-area: c1_info1;
  margin: 0 auto;
  margin-left: 60px;
}
.c1_wrapper .c1_info2 {
  grid-area: c1_info2;
  margin: 0 auto;

}
.c1_wrapper a {
  text-decoration: none;
  font-size: 17px;
  color: #0066cc;
}
.c1_wrapper a:hover {
  text-decoration: underline;
}
main div.c2 {
  grid-area: c2;
  background-color: #0066cc07;
  height: 640px;
}
main div.c3 {
  grid-area: c3;
  background-color: #0066cc07;
  height: 640px;
}
main div.c4 {
  grid-area: c4;
  background-color: #0066cc07;
  height: 640px;
}
main div.c5 {
  grid-area: c5;
  background-color: #1d1d1f;
  height: 640px;
}
main div.c6 {
  grid-area: c6;
  background-color: #1d1d1f;
  height: 640px;
}
main div.c7 {
  grid-area: c7;
  background-color: #0066cc07;
  height: 640px;
}
main div.c8 {
  grid-area: c8;
  background-color: #0066cc07;
  height: 640px;
}
main div.c9 {
  grid-area: c9;
  background-color: #1d1d1f;
  height: 640px;
}